:root {
  font-size: 0.785;
  --black: #000;
  --blue: #0d6ef2;
  --cyan: #0dcaf0;
  --green: #198754;
  --indigo: #6610f2;
  --orange: #fd7e14;
  --puerple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --teal: #20c997;
  --yellow: #ffc107;
  --white: #fff;
  --day: #FFBF00;
  --night: #298662;
  box-sizing: border-box;
  outline: 0 none; /* És un tipus de border per sobre dels borders */
}

*,
::before,
::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

header {
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 0.925em;
  background-color:#1553aa;
  color: white;
  z-index: 3;
}

.dark-mode {
  background-color: #212020;
  background-image: none;
}

.dark-mode header {
  background-color: #480ca8;
}

.dark-mode footer {
  background-color: #480ca8;
}

.light-mode {
  color: white;
}

#light:hover {
  transform: scale(1.2);
}

#addTask:hover {
  transform: scale(1.2);
}

.main {
  width: 100vw;
  padding: 2.4em 1em;
  margin: auto;
  background-color: white;
  border-radius: .3rem;
}

.formulario {
  padding-top: 1em;
}

.dark {
  background-color: #212020;
  color: white;
}

.dark thead tr th {
  background-color: #7209b7;
}

.dark .arrow {
  background-color: #7209b7;
}

.dark .arrow:hover {
  background-color: #480ca8;
}

.main .container {
  overflow-x: auto;
}

.main .header {
  display: flex;
  flex-direction: column;
}

.main .button-group {
  width: 100%;
  display: flex;
  padding: 0;
  margin-top: 1em;
}

.main .button-group .button {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #0B6EFD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .875em;
  color: white;
}

.main .button-group .button span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #0c65e1;
  color: white;
  font-size: .7em;
  text-align: center;
}

.main .button-group .button:hover {
  background-color: #1553aa;
}

.main .button-group .button:last-child {
  border-bottom-right-radius: .3rem;
  border-top-right-radius: .3rem;
}

.main .button-group .button:first-child {
  border-bottom-left-radius: .3rem;
  border-top-left-radius: .3rem;
}

.dark .button-group .button {
  background-color: #7209b7;
  border: #7209b7;
}

.dark .button-group .button:hover {
  background-color: #480ca8;
  border: #480ca8;
}

.dark .button-group .button span {
  background-color: #66129e;
}

.main label {
  width: 100%;
}

.main label div {
  display: flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: .5em;
  background-color: #0B6EFD;
  color: white;
  font-size: .8em;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.main label div:hover {
  background-color: #1553aa;
}

.main label div .fa-solid {
  transition: all 0.4s ease-in-out;
}

.main label div .fa-solid:hover {
  transform: translateX(10px);
}

.main input {
  width: 100%;
  min-height: 40px;
  background-color: #bee5e3;
  padding: .5em;
  font-size: .875em;
  transition: all 0.15s ease-in-out;
}

.dark input {
  background-color: white;
}

.main input:first-child {
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
}

.main input::placeholder {
  color: var(--black);
}

.main input:focus {
  border: 5px solid transparent;
  border-radius: .3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  z-index: 2;
}

.dark input:focus {
  border: 5px solid transparent;
  border-radius: .3rem;
  background-color: rgb(250, 248, 216);
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  z-index: 2;
}

.main .alert,
.main .message {
  width: 100%;
  height: auto;
  opacity: 1;
  padding: 1em;
  margin: .5em auto;
  border-radius: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.3s li;
  font-size: .875em;
}

.main .alert {
  background-color: var(--pink);
}

.main .message {
  background-color: var(--teal);
}

.main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: .3rem;
  margin: 1.5em auto;
  font-size: .95em;
}

.main tr {
  background-color: #f6f6f6;
}

.main thead tr {
  border-radius: .3rem;
}

.main thead th {
  position: relative;
  font-size: 1em;
  font-weight: 400;
}

.main thead th:nth-child(1) {
  padding-left: 40px;
}

.main thead th:nth-child(2),
.main thead th:nth-child(3),
.main thead th:nth-child(4),
.main thead th:nth-child(5) {
  display: none;
}

.main thead i {
  position: absolute;
  left: 12px;
  top: 15px
}

.main tbody tr:last-child {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.main tr:nth-of-type(odd) {
  background-color: #e9e9e9;
}

.main th {
  background-color: #0B6EFD;
  color: white;
  padding: .5em;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: capitalize;
}

.main tbody tr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main tbody td {
  display: flex;
  padding: .5em .8em;
  color: black;
  align-items: center;
}

.main tbody tr td:nth-child(1) {
  width: 100%;
}

.main tbody tr td:nth-of-type(2), 
.main tbody tr td:nth-of-type(3) {
  font-size: .75em;
  width: 30%;
  justify-content: center;
}
.main tbody tr td:nth-of-type(4), 
.main tbody tr td:nth-of-type(5) {
  font-size: .75em;
  width: 20%;
  justify-content: center;
}

.main th:first-child {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.main tr:last-child {
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.main td:last-child {
  border-bottom-left-radius: .3rem;
}

.main th:last-child {
  border-top-right-radius: .3rem;
}

.main table .fa-2x {
  font-size: .95rem;
  color: var(--yellow);
  transition: all 0.3s ease-in-out;
} 

.main table .fa-2x:hover {
  color: #ffca2c;
  transform: scale(1.2);
}

.main table td:nth-child(5) .fa-2x {
  color: #dc3545;
}

.main table td:nth-child(5) .fa-2x {
  color: #bb2d3b;
}

.main table .fa-circle-check {
  color: var(--green);
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

.main table .fa-circle-check:hover {
  color: var(--teal);
}

.main table .editable {
  background-color: white;
  display: inline-block;
  padding: .3em;
  border-radius: .3rem;
  margin-top: .3em;
}

.dark table .editable {
  background-color: rgb(250, 248, 216);
}

.main .dismissible {
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: all 0.3s linear;
}

.calendar {
  width: 80%;
  height: 70vh;
  margin: 4em auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.calendar .day {
  border: 1px solid #000;
  width: 100%;
  text-align: center;
  font-size: .8em;
}


.main .deleted {
  display: none;
}

footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 0.725em;
  background-color:#1553aa;
  z-index: 3;
}

footer a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.deleted {
  display: none;
}

  /* Bostrap breackpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 760px) { 

  body {
    background-color: #c9d6ff;
    background-image: linear-gradient(to right, #e2e2e2, #c9d6ff);
  }

  header {
    height: 60px;
    font-size: 1.2em;
  }

  .main {
    width: 80%;
    margin: 10% auto;
    padding: 2.5em;
  }

  .main .header {
    flex-direction: row;
    justify-content: end;
  }
  
  .main .button-group {
    width: 30%;
    display: flex;
    flex-direction: row;
  }

  .main .button-group .button {
      width: 1/3;
      font-size: 1.1em;
  }

  .main .button-group .button span {
    width: 17px;
    height: 17px;
    font-size: .6em;
  }

  .main label {
    display: flex;
  }

  .main label div {
    flex-basis: 10%;
  }

  .main label div {
    border-bottom-right-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .main input {
    min-height: 60px;
    font-size: 1em;
  }

  .main input:nth-child(1) {
    flex-basis: 60%;
  }
  .main input:nth-child(2) {
    flex-basis: 20%;
  }
  .main input:nth-child(3) {
    flex-basis: 20%;
  }

  .main input:first-child {
    border-bottom-left-radius: .3rem;
    border-top-left-radius: .3rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .main .alert { 
    font-size: 1em;
  }
  
  .main .message { 
    font-size: 1em;
    margin: 1.5em auto;
  }

  .main table {
    font-size: 1em;
  }

  .main thead {
    display: flex;
    width: 100%;
    font-size: 1.2em;
  }

  .main thead tr {
    display: flex;
    width: 100%;
  }

  .main th:first-child {
    border-top-left-radius: .3rem;
    border-top-right-radius: 0;
  }
  
  .main tbody td:last-child {
    border-top-right-radius: .3rem;
  }

  .main thead th:nth-child(1) {
    flex-basis: 60%;
    padding-left: 40px;
  }

  .main thead th:nth-child(2),
  .main thead th:nth-child(3) {
    display: inherit;
    flex-basis: 15%;
    padding-left: 40px;
    justify-content: center;
  }

  .main thead th:nth-child(4),
  .main thead th:nth-child(5) {
    display: inherit;
    flex-basis: 5%;
    justify-content: center;
  }

  .main tbody tr {
    flex-wrap: nowrap;
  }

  .main tbody tr td:nth-child(1) {
    justify-content: start;
    flex-basis: 60%;
    font-size: 1.2em;
  }

  .main tbody tr td:nth-child(2),
  .main tbody tr td:nth-child(3) {
    font-size: 1.1em;
    justify-content: center;
    flex-basis: 15%;
  }

  .main tbody tr td:nth-child(4), 
  .main tbody tr td:nth-child(5) {
    font-size: 1.1em;
    justify-content: center;
    flex-basis: 5%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* here your code */  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
